<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>

    <% if (!login) { %>

      <form action="/users" method="post">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
      </form>

    <% } else { %>

      <% if (upload) { %>
      
      <h2>Mapping table</h2>
      <% if (locals.mapfrom && locals.mapto) { %>
        <table style="border: 1px solid black;">
          <tr>
            <td>input: </td>
            <% for (var i = 0; i < locals.mapfrom.length; i++) { %>
              <td style="border: 1px solid black;"><%= locals.mapfrom[i] %></td>
            <% } %>
          </tr>
          <tr>
            <td>output: </td>
            <% for (var i = 0; i < locals.mapto.length; i++) { %>
              <td style="border: 1px solid black;"><%= locals.mapto[i] %></td>
            <% } %>
          </tr>    
        </table>
      <% } %>

      <br/>

      <form action="/file/multiupload" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <b>please select input files:</b>
          <input type="file" class="form-control-file" name="uploaded_file" multiple/>
          <input type="submit" style="border-radius: 4px;" value="convert" class="btn btn-primary">
        </div>
      </form>
      <br/>

      <% } %>
      <% if (download) { %>

<!--       <form action="/file/download" method="post">
          <label for="filename">Download output file <%= locals.filename %>:</label>
          <label for="filename">Download output file:</label>
          <input type="text" disabled id="filename" name="filename" value='<%= locals.filename %>'>
          <input type="submit" value="Download">
      </form>
 -->    

        <div>Download output files:</div>
        <% for (var i = 0; i < locals.filenames.length; i++) { %>
            <div>
              <form action="/file/download" method="post">
                <!-- <label for="filename">Download output file:</label> -->
                <input type="text" id="filename" name="filename" value='<%= locals.filenames[i] %>'>
                <input type="submit" value="Download">
              </form>
            </div>
        <% } %>

      <% } %>

    <% } %>
  
  </body>
</html>

<!--       
      <form action="/file/upload" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <b>Converting your CSV here (single):</b>
          <input type="file" class="form-control-file" name="uploaded_file"/>
          <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers">
          <input type="submit" value="Get me the stats!" class="btn btn-default">            
        </div>
      </form> -->

<!-- 
      <form action="/upload">
        <label for="files">Select files to convert:</label>
        <input type="file" id="files" name="files" multiple><br><br>
        <input type="submit">
      </form> -->